html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #272527;
}

.custom-form {
    background: #161516;
    padding: 20px;
    margin: 20px 0;
    position: relative;
}

.custom-form-title {
    color: #ffffffbf;
    border-bottom: 5px solid #f44336;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.custom-form-input {
    display: block;
    width: 100%;
    border: none;
    padding: 10px 20px;
    color: #ffffffd9;
    background: hsla(300, 3%, 30%, 1);
    margin-bottom: 20px;
    border-bottom: 5px solid #f44336;
    outline: none;
    font-size: 20px;
}

.custom-form-input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.custom-form-file-input {
    background: #f44336;
    color: #161516;
    border-bottom: 5px solid #272527;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.custom-form-file-input:hover {
    background: #272527;
    color: #f44336;
    border-color: #f44336;
}

.custom-form-file-input::-webkit-file-upload-button {
    background: transparent;
    border: none;
    font-weight: bold;
    content: "dsd";
    color: #272527;
    text-transform: uppercase;
}

.custom-form-file-input:hover::-webkit-file-upload-button {
    color: #f44336;
}

.custom-form-button {
    display: block;
    border: none;
    color: #272527;
    background: #f44336;
    margin-bottom: 20px;
    border-bottom: 5px solid #272527;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    padding: 10px 0;
    width: 200px;
    transition: 0.25s linear;
}

.custom-form-button:hover {
    color: #f44336;
    background: #272527;
    border-bottom: 5px solid #f44336;
}

.custom-form-bottom-link {
    color: #f44336;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.custom-form-bottom-link:hover {
    color: #f44336;
}

.custom-form-paragraph {
    color: #ffffff78;
}

.custom-form-hr {
    background: #272527;
}

.custom-form-hint-text {
    margin-top: 20px;
    color: #ffffff8a;
    text-align: center;
}

.custom-form-hint-text a {
    color: #f44336;
}

.custom-form-hint-text a:hover {
    color: #f44336;
}

a:hover svg {
    opacity: 0.8;
}

.custom-form-inline {
    display: inline-flex;
    padding: 0;
    margin: 0;
    background: transparent;
}

.custom-form-inline .custom-form-input {
    margin-bottom: 0;
    font-size: 14px;
    padding: 5px 10px;
    box-sizing: content-box;
}

.custom-form-inline .custom-form-button {
    margin-bottom: 0;
    width: initial;
    padding: 5px 10px;
    font-size: 14px;
    margin-left: 10px;

}

.navbar-nav {
    white-space: nowrap;
}

* {
    outline: none !important;
}

.explore {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
    padding: 10px 60px;
    outline: none;
    color: #161516;
    display: inline-block;
    background: #F44336;
    font-weight: bold;
    transition: all 0.25s linear;
    transition-property: background, color, border-color;
    border-bottom: 5px solid #161516;
}

.explore:hover {
    background: #161516;
    color: #F44336;
    text-decoration: none;
    border-color: #F44336;
}

.navbar {
    background: #F44336 !important;
}

.navbar a {
    color: #161516b5 !important;
}

.navbar a:hover {
    color: #161516 !important;
}

.navbar-dark .navbar-brand {
    color: #161516 !important;
    font-weight: bold;
}

.active a {
    font-weight: bold;
    color: #161516 !important;
}

.navbar button {
    background: #161516 !important;
    color: #cb180b !important;
    border: none;
    border-radius: 0;
    border-bottom: 5px solid #cb180b;
    box-sizing: border-box;
}

.navbar button:hover {
    opacity: 0.8;
}

.navbar input {
    border-radius: 0;
    background: #b3b3b3;
    border: none;
    border-bottom: 5px solid #565656;
    color: #565656;
}

a svg {
    width: 30px;
    border: 4px solid transparent;
    box-sizing: content-box;
}

.active svg {
    border: 4px solid #2725274f;
    box-sizing: content-box;
    border-radius: 50%;
}

a .svg {
    width: 30px;
    height: 30px;
    position: relative;
}

a .svg svg {
    position: absolute;
    top: -4px;
    left: -4px;
}

* {
    outline: none;
}

.flex-username {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-username a {
    font-weight: bold;
}

.cart {
    position: relative;
}

.cart .tracker {
    height: 12px;
    min-width: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #cb180b;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    padding: 2px;
}

.custom-form-group {
    margin-bottom: 20px;
    height: 36px;
    position: relative;
}

.custom-form-group-title {
    display: inline-block;
    color: #c5c4c5;
    font-weight: bold;
    border-bottom: 2px solid #f44336;
    padding: 5px 10px;
}

.custom-form-checkbox {
    height: 20px;
    width: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.custom-form-checkbox [type=checkbox] {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.custom-form-checkbox [type=checkbox]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4f4a4f;
    transition: 0.2s linear;
}

.custom-form-checkbox [type=checkbox]::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #f44336;
    transition: 0.2s linear;
}

.custom-form-checkbox [type=checkbox]:checked::after {
    left: calc(100% - 20px);
}

.custom-form-checkbox [type=checkbox]:checked::before {
    background: #790e06;
}

footer {
    background: #161516;
    flex: 1;
}

footer h5 {
    color: #e6e6e6;
}

footer * {
    color: #b3b3b3;
}

footer a {
    color: #F44336;
}

footer a:hover {
    color: #F44336;
}